*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(225, 225, 213);
}

#main #card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    height: 620px;
    background-color: rgba(53, 28, 35, 0.927);
    border-radius: 12px;
    padding-left: 10px;
    padding-top: 10px;
}

#card #circle{
    width: 100px;
    height: 100px;
    background-image: url(https://i.pinimg.com/1200x/e5/57/58/e55758ebe5381243945df8f4e36806df.jpg);
    border-radius: 50%;
    background-size: cover;
}

#card h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

#card p{
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#card button{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(199, 204, 205, 0.685);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 10px;
}

